extends layout 

block content 
    h1= title 

    if (toShow == null) 
        h2 No instance to delete 
    else
    - let car_id = toShow.car_id 
    - let car_name = toShow.car_name 
    - let car_color = toShow.car_color
    - let car_size = toShow.car_size

    div.row(class='mb-2') 
        div.mr-1 ID is 
        div #{car_id} 
    - let actionid = "/resource/cars/" + car_id 
    form(id='carForm', action= actionid, method="PUT") 
        div.form-group 
            label.carAttr(for='car_name') car_name 
            input#car_name(type='text' name='car_name', value= car_name ) 
        div.form-group 
            label.carAttr(for='car_color') car_color
            input#car_color(type='text' name='car_color', value= car_color ) 
        div.form-group 
            label.carAttr(for='car_size') car_size 
            input#car_size(type='number' name='car_size', value= car_size) 
        input(type="submit") 

    script. 
        document.forms['carForm'].addEventListener('submit', (event) => { 
            event.preventDefault(); 
            // TODO do something here to show user that form is being submitted 
            fetch(event.target.action, { 
                method: 'PUT', 
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
            }).then((resp) => { 
                return resp.json(); // or resp.text() or whatever the server sends 
            }).then((body) => { 
                alert("Update succeded") 
                // TODO handle body 
            }).catch((error) => { 
                // TODO handle error 
                alert("Update failed " + error ) 
            }); 
        }); 